<p>
  <b>User:</b>
  <%=h @question.user_id %>
</p>

<p>
  <b>Question:</b>
  <%=h @question.question %>
</p>

<p>
  <b>Disable:</b>
  <%=h @question.disable %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>